body{background-color: #F5F5F5;}
h1{
	white-space: nowrap;
	overflow: hidden;
	
	height: 60px;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 10px;
}
.container{
	border-radius: 4px;
	background-color: #fff;
	padding: 15px;
}
h1, .container{border: 1px solid #eee;}
h1{border-width: 0 0 1px;}
.container{border-width: 0 1px 1px;}
th{color: #fff; background: #656565;}