#stats th,
#stats td {
  text-align: center;
  min-width: 60px;
}
#stats th {
  color: #fff;
  background: #656565;
}
.garage-an-year {
  marg2in: 12px;
  width: 50%;
  padding: 3px;
  box-sizing: border-box;
}
.garage-an-year:nth-child(2n+1) {
  clear: both;
}
.garage-an-year .garage-an-year-title {
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.garage-an-year .garage-an-year-table {
  width: 100%;
}
.garage-an-year .garage-an-year-table th {
  padding: 8px;
  background: #eee;
  font-weight: normal;
  border-bottom: 3px solid transparent;
}
.garage-an-year .garage-an-year-table thead > tr > th:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.garage-an-year .garage-an-year-table thead > tr > th:nth-last-child(1) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.garage-an-year .garage-an-year-table th,
.garage-an-year .garage-an-year-table td {
  text-align: center;
}
.garage-an-year .garage-an-year-table td {
  padding: 1px 0 0;
}
.garage-an-year .not_day_of_month {
  opacity: .4;
}
.garage-an-year .block,
.garage-an-year .block_hover {
  width: 65px;
  height: 30px;
}
.garage-an-year .block .line {
  z-index: 2;
  width: 65px;
  background: #fff;
  border: 0 solid #fff;
}
.garage-an-year .block .line.left {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  left: 2px;
}
.garage-an-year .block .line.left .text {
  left: -2px;
}
.garage-an-year .block .line.right {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 63px;
  left: 0;
}
.garage-an-year .block .line.right .text {
  left: 0;
}
.garage-an-year .block .line .text {
  width: 65px;
  line-height: 30px;
  height: 30px;
  color: #000;
}
.garage-an-year .block .line.colored {
  z-index: 0;
}
.garage-an-year .block .line.colored.inactive {
  background: #aaa!important;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 1) {
  background: #4c4c9c;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 2) {
  background: #4c989c;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 3) {
  background: #4c9c5a;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 4) {
  background: #9d8b2f;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 5) {
  background: #93512f;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 6) {
  background: #34345d;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 7) {
  background: #71376f;
}
.garage-an-year .block .line.colored.hover:nth-child(8n + 8) {
  background: #840c43;
}
.garage-an-year .block .line.colored .text {
  color: #fff;
}
.garage-an-year .block_hover {
  z-index: 3;
  top: 1px;
}
.garage-an-year .block_hover .line {
  background: transparent;
}
.garage-an-year .day_of_month.hover .block .line .text,
.garage-an-year .not_day_of_month.hover .block .line .text {
  color: transparent;
}
.garage-an-year .day_of_month.hover .block .line:not(.colored) .text,
.garage-an-year .not_day_of_month.hover .block .line:not(.colored) .text {
  color: #000;
}
.garage-an-year .day_of_month.hover .block .line.hover,
.garage-an-year .not_day_of_month.hover .block .line.hover {
  z-index: 1;
  overflow: visible;
}
.garage-an-year .day_of_month.hover .block .line.hover .text,
.garage-an-year .not_day_of_month.hover .block .line.hover .text {
  color: #fff;
}
.garage-an-year-scroll {
  z-index: 10;
  top: 0;
  background: #fff;
  padding: 8px;
  width: 922px;
}
.garage-an-year-info {
  z-index: 2;
  width: 320px;
  background: #fff;
  cursor: default;
}
.garage-an-year-legend {
  padding: 0.1px;
}
.garage-an-year-legend .garage-an-year-legend-els > div {
  cursor: default;
  padding: 2px 0;
  opacity: .4;
  /*.loop(@garage-an-year-colors-num);*/
}
.garage-an-year-legend .garage-an-year-legend-els > div.active {
  opacity: 1;
}
.garage-an-year-legend .garage-an-year-legend-els > div.inactive {
  opacity: .2;
}
.garage-an-year-legend .garage-an-year-legend-els > div:hover {
  opacity: .7;
}
.garage-an-year-legend .garage-an-year-legend-els > div:before {
  content: "";
  display: block;
  float: left;
  width: 20px;
  height: 4px;
  margin: 7px 10px 0 0;
  border-radius: 2px;
}
.garage-an-year .block .line.colored:nth-child(8n + 1),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 1):before {
  background: #7878bd;
}
.garage-an-year .block .line.colored:nth-child(8n + 2),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 2):before {
  background: #78b9bd;
}
.garage-an-year .block .line.colored:nth-child(8n + 3),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 3):before {
  background: #78bd84;
}
.garage-an-year .block .line.colored:nth-child(8n + 4),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 4):before {
  background: #cab64f;
}
.garage-an-year .block .line.colored:nth-child(8n + 5),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 5):before {
  background: #c5734a;
}
.garage-an-year .block .line.colored:nth-child(8n + 6),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 6):before {
  background: #4f508e;
}
.garage-an-year .block .line.colored:nth-child(8n + 7),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 7):before {
  background: #a550a1;
}
.garage-an-year .block .line.colored:nth-child(8n + 8),
.garage-an-year-legend .garage-an-year-legend-els > div:nth-child(8n + 8):before {
  background: #ca1366;
}
.garage-an-month {
  padding: 12px 12px;
}
.garage-an-month:nth-child(2n) {
  background: #f5f5f5;
}
.garage-an-month .garage-an-month-title {
  font-size: 16px;
  color: #999;
  text-shadow: 1px 1px 0 #fff;
  width: 106px;
}
.garage-an-month .garage-an-month-value {
  top: 3px;
  width: 96px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
}
.garage-an-month .garage-an-month-value[num-child="1"] {
  background: #7878bd;
}
.garage-an-month .garage-an-month-value[num-child="2"] {
  background: #78b9bd;
}
.garage-an-month .garage-an-month-value[num-child="3"] {
  background: #78bd84;
}
.garage-an-month .garage-an-month-value[num-child="4"] {
  background: #cab64f;
}
.garage-an-month .garage-an-month-value[num-child="5"] {
  background: #c5734a;
}
.garage-an-month .garage-an-month-value[num-child="6"] {
  background: #4f508e;
}
.garage-an-month .garage-an-month-value[num-child="7"] {
  background: #a550a1;
}
.garage-an-month .garage-an-month-value[num-child="8"] {
  background: #ca1366;
}
